<div class="row">
  <div class="px-3 py-3 pt-md-3 pb-md-3">
    <h3>{{pageTitle}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="customerForm" (submit)="submitForm()">
      <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
        <strong>Erro no servidor:</strong>
        <ul>
          <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nome.</label>
            <input type="text" class="form-control" id="name" formControlName="Name" placeholder="Nome do cliente">
            <div class="text-danger" *ngIf="customerForm.get('Name').invalid && customerForm.get('Name').touched">
              <div *ngIf="customerForm.get('Name').errors.required">dado obrigatório</div>
              <div *ngIf="customerForm.get('Name').errors.minlength">deve ter no mínimo 2 caracteres</div>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="submittingForm || customerForm.invalid" type="submit" class="btn btn-primary btn-lg  mt-3">Salvar</button>
    </form>
  </div>
</div>