<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center sticky-top  navbar-custom">
    <a [routerLink]="['']" class="navbar-brand d-flex w-50 mr-auto"><img src="/assets/img/icons8-shopping-48.png" width="30"
            height="30" class="d-inline-block align-top ">Loja App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active"><a class="nav-link text-white" [routerLink]="['']">Inicial</a></li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['customers']">Clientes</a></li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['products']">Produtos</a></li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['orders']">Vendas</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item"><a class="nav-link" href="#">Right</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Right</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Right</a></li>
        </ul> -->
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Loja App.</span>
    </div>
</footer>